@{
    ViewData["Title"] = "Main Menu";
}

<h2>Lesson 1: Introduction</h2>

<a asp-controller="HelloWorld" asp-action="Index">Hello World</a>
<br />
<a asp-controller="HelloWorld" asp-action="Welcome"
   asp-route-name="Rick" asp-route-numTimes="5">Welcome</a>
<br />

